".source.js":
  "React: import React Router":
    prefix: "_irt"
    body: "import { FlowRouter } from 'meteor/kadira:flow-router';"

  "React: import App Core":
    prefix: "_iac"
    body: "import { App } from 'meteor/app-core';"

  "React: import Meteor":
    prefix: "_imt"
    body: "import { Meteor } from 'meteor/meteor';"

  "React: import createContainer":
    prefix: "_ictn"
    body: "import { createContainer } from 'meteor/react-meteor-data';"

  "React: import Bert":
    prefix: "_ib"
    body: "import { Bert } from 'meteor/themeteorchef:bert';"

  "React: import Default":
    prefix: "_idf"
    body: "import React from 'react';\nimport { Meteor } from 'meteor/meteor';\nimport { createContainer } from 'meteor/react-meteor-data';\nimport { App } from 'meteor/app-core';"

  "React: import PropTypes":
    prefix: "_ipt"
    body: "import PropTypes from 'prop-types';"

  "React: import Mongo":
    prefix: "_img"
    body: "import { Mongo } from 'meteor/mongo';"

  "React: import Meteor check":
    prefix: "_imc"
    body: "import { check } from 'meteor/check';"

  "React: import Simple Schema":
    prefix: "_isc"
    body: "import { SimpleSchema } from 'meteor/aldeed:simple-schema';"

  "React: generate Bert alert":
    prefix: "_bal"
    body: "Bert.alert('${1}', '${2}', 'growl-top-right');"

  "React: generate ValidatedMethod":
    prefix: "_vm"
    body: "import { ValidatedMethod } from 'meteor/mdg:validated-method';\nimport { App } from 'meteor/app-core';\nimport { Meteor } from 'meteor/meteor';\nimport { SimpleSchema } from 'meteor/aldeed:simple-schema';\n\nexport const ${1} = new ValidatedMethod({\nname: '${2}',\nvalidate: new SimpleSchema({\n${3}\n}).validator(),\nrun({ ${4} }) {\n${5}\n}\n});\n"
